# Required for chat responses
OPENROUTER_API_KEY=****

# Used for OpenRouter attribution headers
OPENROUTER_SITE_URL=https://koovai.com

# https://vercel.com/docs/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# https://vercel.com/docs/postgres
POSTGRES_URL=****

# https://vercel.com/docs/redis
REDIS_URL=****
